#admin-status-profile {
  background: linear-gradient(30deg, #ee1d1d, #520303fd, #ff0000);
  color: white;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8), 0 0 10px rgba(255, 0, 0, 0.6),
      0 0 15px rgba(255, 0, 0, 0.4);
  }
  to {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
      0 0 30px rgba(255, 0, 0, 0.4);
  }
}
